<article class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-center px-32">
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a routerLink="/entrenamiento">
      <button
        type="submit"
        class="submit-form-button-blue"
      >
        Registrar un entrenamiento
      </button>
    </a>
  </div>
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a routerLink="/arco">
      <button
        type="submit"
        class="submit-form-button-yellow"
      >
        Registrar un nuevo arco
      </button>
    </a>
  </div>
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a routerLink="/competencia">
      <button
        type="submit"
        class="submit-form-button-black"
      >
        Registrar una nueva competencia
      </button>
    </a>
  </div>
</article>


<article class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-12 justify-center px-32 ">
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4">Entrenamientos</h2>
    <div class="space-y-4">
      <div>
        <h3 class="font-semibold text-lg">Entrenamiento 1</h3>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4">Entrenamientos</h2>
    <div class="space-y-4">
      <div>
        <h3 class="font-semibold text-lg">Entrenamiento 1</h3>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4">Entrenamientos</h2>
    <div class="space-y-4">
      <div>
        <h3 class="font-semibold text-lg">Entrenamiento 1</h3>
      </div>
    </div>
  </div>
</article>



