<article class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-center px-32">
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a [routerLink]="['/entrenamiento',arquero.idArquero]" class="submit-form-button-blue">
        Registrar un entrenamiento
    </a>
  </div>
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a [routerLink]="['/arco',arquero.idArquero]" class="submit-form-button-yellow">
        Registrar un nuevo arco
    </a>
  </div>
  <div class="flex flex-col justify-center mx-6 text-align-center">
    <a  [routerLink]="['/competencia',arquero.idArquero]" class="submit-form-button-black">
        Registrar una nueva competencia
    </a>
  </div>
</article>


<article class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-12 justify-center px-32 ">

   @for (arco of arquero.arcos ;track $index){<app-card-entrenamiento></app-card-entrenamiento>}
  @for (arco of arquero.arcos ;track $index){<app-card-arco></app-card-arco>} 
@for (arco of arquero.arcos ;track $index){<app-card-competencia></app-card-competencia>}
 


</article>



