/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme{
  --color-royalblue-100: #01295f;
  --color-selective-yellow: #ffb30f;
  --color-selective-yellow-hover: #e79e1f;
  --color-serulian-30: #b0dbfa;
  --color-serulian-100: #2b9def;
  --color-serulian-hover: #307BEB;
  --color-royalblue-30: #6383af;
  --color-selective-yellow-30: #FFEFCD;
  --color-selective-black: #000000;
  --color-selective-black-hover: #2a2a2a;
  --color-selective-red: #ff0000;
  --color-selective-red-hover: #e60000;
}

.input-form{
  @apply border ml-5 rounded-xl p-2 w-full border-[color:var(--color-royalblue-30)] placeholder-[var(--color-royalblue-30)]

}

.input-and-label-container{
  @apply flex items-center w-full mt-2;
}

.label-form{
  @apply ml-2 font-semibold text-[var(--color-royalblue-100)]
}

.submit-form-button-blue{
  @apply bg-[var(--color-serulian-100)] text-black font-bold py-2 px-4 rounded-lg mt-6 hover:bg-[var(--color-serulian-hover)] transition-colors duration-300;
}
.submit-form-button-yellow{
  @apply bg-[var(--color-selective-yellow)] text-black font-bold py-2 px-4 rounded-lg mt-6 hover:bg-[var(--color-selective-yellow-hover)] transition-colors duration-300;
}
.submit-form-button-black{
  @apply bg-[var(--color-selective-black)] text-selective-yellow-30 font-bold py-2 px-4 rounded-lg mt-6 hover:bg-[var(--color-selective-black-hover)] transition-colors duration-300;
}

.submit-form-button-red{
  @apply bg-[var(--color-selective-red)] text-white font-bold py-2 px-4 rounded-lg mt-6 hover:bg-[var(--color-selective-red-hover)] transition-colors duration-300;
}

